@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::file-selector-button {
  cursor: pointer;
  font-weight: 600;
  color: white;
  padding: 0.5em 0.7em;
  margin-right: 20px;
  border: none;
  border-radius: 20px;
  background-color: rgb(64, 141, 185);
  opacity: 0.9;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: rgb(4, 19, 26);
  font-family: "Mukta", sans-serif;
}

.whole-site {
  width: 100%;
}

nav {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(4, 19, 26);
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.navbar .logo {
  font-size: 30px;
  color: white;
  font-family: "Oswald", sans-serif;
}

::-moz-placeholder {
  color: rgb(75, 75, 75);
}

::placeholder {
  color: rgb(75, 75, 75);
}

.pop-up-window {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
  z-index: 1000;
}
.pop-up-window .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: none;
  margin: 0 auto;
}
.pop-up-window .close-btn .cls-btn {
  cursor: pointer;
  border: none;
  background: transparent;
}
.pop-up-window .close-btn:hover {
  border-radius: 50%;
  padding: 1px;
}
.pop-up-window .form-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0px;
}
.pop-up-window .form-class .name-c {
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.pop-up-window .form-class .input-holder {
  background-color: rgb(243, 247, 255);
  border: none;
  padding: 10px 10px;
  border-radius: 25px;
}
.pop-up-window .form-class .Add-contact-btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  background-color: rgb(76, 176, 80);
  text-align: center;
  border-radius: 25px;
  padding: 10px 26px;
  color: white;
}
.pop-up-window .form-class .edit-contact-btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  background-color: rgb(76, 176, 80);
  text-align: center;
  border-radius: 25px;
  padding: 10px 26px;
  color: white;
}
.pop-up-window .form-class .edit-contact-btn {
  display: none;
}
.pop-up-window .form-class .cancel-btn {
  background: rgb(244, 66, 54);
}
.pop-up-window .form-class .two-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.whole-middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.whole-middle-container .head-of-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whole-middle-container .head-of-middle .search-bar .input-holder {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(105, 105, 105);
  padding: 10px 20px;
  border-radius: 25px;
}
.whole-middle-container .head-of-middle .search-bar .search-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(72, 215, 218);
  border-radius: 25px;
  padding: 10px 20px;
  color: rgb(4, 19, 26);
  border: 1px solid rgb(105, 105, 105);
  font-weight: 550;
  letter-spacing: 0.04rem;
}
.whole-middle-container .head-of-middle .search-bar .search-btn:hover {
  box-shadow: rgba(72, 216, 218, 0.29) 0px 7px 29px 0px;
  transition: 0.3s;
}
.whole-middle-container .head-of-middle .new-contact-div {
  margin-top: 20px;
}
.whole-middle-container .head-of-middle .new-contact-div .new-contact-btn {
  cursor: pointer;
  border: none;
  background-color: rgb(211, 254, 158);
  border-radius: 25px;
  padding: 10px 20px;
  color: rgb(4, 19, 26);
  border: 1px solid rgb(105, 105, 105);
  font-weight: 550;
  letter-spacing: 0.04rem;
}
.whole-middle-container .head-of-middle .new-contact-div .new-contact-btn:hover {
  transition: 0.3s;
  box-shadow: rgba(255, 255, 255, 0.26) 0px 7px 29px 0px;
}
.whole-middle-container .all-card-parts {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.whole-middle-container .all-card-parts .card {
  width: 250px;
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(234, 255, 208);
  padding: 1%;
}
.whole-middle-container .all-card-parts .card .edidel-div {
  display: none;
  position: absolute;
  margin-left: 9px;
  margin-top: 30px;
  border: 1px solid rgba(76, 32, 32, 0.3411764706);
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(4, 19, 26);
}
.whole-middle-container .all-card-parts .card .edidel-div .div-del {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  color: white;
  background-color: rgb(255, 43, 28);
}
.whole-middle-container .all-card-parts .card .edidel-div .div-edit {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
  color: white;
  background-color: rgb(64, 141, 185);
}
.whole-middle-container .all-card-parts .card .edidel-div .div-edit:hover {
  padding: 4px 5px 5px 5px;
  border-radius: 10px;
  background-color: rgb(13, 116, 175);
}
.whole-middle-container .all-card-parts .card .edidel-div .div-del:hover {
  padding: 4px 5px 5px 5px;
  border-radius: 10px;
  background-color: rgb(254, 21, 5);
}
.whole-middle-container .all-card-parts .card .for-mt {
  margin-top: 20px;
}
.whole-middle-container .all-card-parts .card .itul {
  width: 100%;
  height: auto;
}
.whole-middle-container .all-card-parts .card .for-pd {
  padding-left: 10px;
}
.whole-middle-container .all-card-parts .card ul .center-human {
  text-align: center;
  border-radius: 7px;
}
.whole-middle-container .all-card-parts .card ul li {
  text-align: left;
  color: black;
  white-space: nowrap;
}
.whole-middle-container .all-card-parts .card .human {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.whole-middle-container .all-card-parts .card .three-dot {
  cursor: pointer;
  width: 20px;
  height: auto;
  position: absolute;
  z-index: 0;
  margin-top: 10px;
  margin-left: 2px;
}

i {
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  .pop-up-window {
    width: 60%;
  }
}
@media only screen and (max-width: 612px) {
  .pop-up-window {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */